{% load i18n mezzanine_tags %}

{% if request.user.is_authenticated %}
    {% trans "登陆名: " %}
    {% url profile user.username as profile_url %}
    {% if profile_url %}
        <a href="{{ profile_url }}">{{ request.user.username }}</a><br>
        <a href="{% url profile_update %}"
            class="btn btn-small">{% trans "更新信息" %}</a>
    {% else %}
        <a href="{% url profile_update %}">{{ request.user.username }}</a>
    {% endif %}
    <a href="{{ settings.LOGOUT_URL }}?next={{ request.path }}"
        class="btn btn-small btn-danger btn-account">{% trans "注销" %}</a>
{% else %}
    {% trans "未登录" %}
    <a href="{% url login %}?next={{ request.path }}"
        class="btn btn-small btn-account">{% trans "登陆" %}</a>
    {% trans "或者" %}
    <a href="{% url signup %}?next={{ request.path }}"
        class="btn btn-small btn-account">{% trans "注册" %}</a>
{% endif %}
