{% extends "coltrane/base.html" %}

{% block title %}
发表于{{ month|date:"Y年F" }}的条目
{% endblock %}

{% block content %}
    <h1>
        发表于{{ month|date:"Y年F" }}的条目
    </h1>
    {% for entry in object_list %}
        <h2>{{ entry.title }}</h2>
        <p>
          发表于{{ entry.pub_date|date:"Y年Fj日" }}
        </p>
        {% if entry.excerpt_html %}
	    <div class="excerpt_html">
                {{ entry.excerpt_html|safe }}
            </div>
        {% else %}
	    <div class="body_html">
                {{ entry.body_html|truncatewords_html:"50"|safe }}
            </div>
        {% endif %}
        <a href="{{ entry.get_absolute_url }}">阅读全文</a>
    {% endfor %}
{% endblock %}
