<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
 <HEAD>
  <TITLE>Search</TITLE>
 </HEAD>
 <BODY>
   <FORM ACTION="/search/" METHOD="get">
     <P>
       <LABEL FOR="id_q">Search:</LABEL>
       <INPUT TYPE="TEXT" NAME="q" ID="id_q" VALUE="{{ query }}" SIZE="20">
         <INPUT TYPE="SUBMIT" VALUE="Submit">
     </P>
   </FORM>
   <!-- 查询得出结果就显示出查询出来的页面 -->
   {% if results %}
     <P>You searched for "{{ query }}"; the results are listed below.</P>
     <UL>
       {% for page in results %}
         <LI><A HREF="{{ page.get_absolute_url }}">{{ page.title }}</A></LI>
       {% endfor %}
     </UL>
     <!-- 查询未得出结果就显示另外一种结果 -->
   {% else %}
     <!-- 有查询关键词但未检索到结果 -->
     {% if query %}
       <P>
         No results found.
       </P>
       <!-- 无查询关键词 -->
       {% else %}
         <P>
           Type a search query into the box above, and press "Submit" to search.
         </P>
       {% endif %}
   {% endif %}
 </BODY>
</HTML>
