{% extends "pages/page.html" %}


{% load i18n %}

{% block meta_title %}{% trans "资料" %}{% endblock %}
{% block title %}{% trans "资料" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "资料" %}</li>
{% endblock %}

{% block main %}

<h1>{{ ziliao.zl_mingcheng }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table border=1>
	<tr>
		<td>名称</td>
		<td>{{ ziliao.zl_mingcheng }}</td>
	</tr>
	<tr>
		<td>序号</td>
		<td>{{ ziliao.zl_xuhao }}</td>
	</tr>
	<tr>
		<td>厂家</td>
		<td>{{ ziliao.zl_changjia }}</td>
	</tr>
	<tr>
		<td>数量</td>
		<td>{{ ziliao.zl_shuliang }}</td>
	</tr>
	<tr>
		<td>幅面</td>
		<td>{{ ziliao.zl_fumian }}</td>
	</tr>
	<tr>
		<td>存档时间</td>
		<td>{{ ziliao.zl_cundangshijian|date:"Y-m-d H:i:s" }}</td>
	</tr>
	<tr>
		<td>使用地点</td>
		<td>{{ ziliao.zl_shiyongdidian }}</td>
	</tr>
	<tr>
		<td>对应设备</td>
		<td>{{ ziliao.zl_duiyingshebei }}</td>
	</tr>
	<tr>
		<td>备注</td>
		<td>{{ ziliao.zl_beizhu }}</td>
	</tr>
	<tr>
		<td>封面</td>
		<td>{{ ziliao.zl_fengmian }}</td>
	</tr>
</table>

{% endblock %}