{% extends "pages/page.html" %}


{% load i18n %}

{% block meta_title %}{% trans "资料" %}{% endblock %}
{% block title %}{% trans "资料" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "资料" %}</li>
{% endblock %}

{% block main %}
{% if ziliao_list %}
    <ul>
    {% for ziliao in ziliao_list %}
        <li><a href="{{ ziliao.get_absolute_url }}/">{{ ziliao.zl_mingcheng }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}