{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}首页{% endblock %}
{% block title %}首页{% endblock %}

<!--block content -->
{% block content %}
<div id="content">
	<div id="row">
		<div id="left">
			<div id="lb1">
				通知栏
				
				{% if latest_tongzhi_list %}
				<ul>
					{% for tongzhi in latest_tongzhi_list %}
					<li>
						<a href="javascript://" class="STYLE12" onClick="window.open('tongzhi/{{ tongzhi.id }}','','resizable=no,menubar=no,status=no,scrollbars=no,location=no,top=80,left=150,toolbar=no,width=390,height=180')">{{ tongzhi.zhuti }}</a>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>
					没有通知信息！
				</p>
				{% endif %}
				
				<hr>
				{% if latest_poll_list %}
				<ul>
					{% for poll in latest_poll_list %}
					<li>
						<a href="/polls/{{ poll.id }}/">{{ poll.question }}</a>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>
					No polls are available.
				</p>
				{% endif %}
				
				<hr>
				{% if latest_blog_list %}
				<ul>
					{% for blog in latest_blog_list %}
					<li>
						<a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>
					No blogs are available.
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!--end of block content -->