{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}首页{% endblock %}

{% block title %}
    首页
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">
    首页
</li>
{% endblock %}

{% block main %}
<div id="bufenneiront">
    {% with blog_posts.all as blogs %}
        {% for blog_post in blogs %}
            <h4><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h4>
            {{ blog_post.content|truncatewords_html:4|safe }}
            <a href="{{ blog_post.get_absolute_url }}">{% trans "更多" %}</a>
            <br/>
        {% endfor %}
    {% endwith %}
</div>

{% endblock %}
