<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<head>
	<title>搜索{% if query %}结果{% endif %}</title>
</head>
<body>
	<h1>搜索</h1>
	<form action="." method="GET">
		<label for="q">搜索:</label>
		<input type="text" name="q" value="{{ query|escape }}">
		<input type="submit" value="搜索">
	</form>
	{% if query %}
		<h2>"{{ query|escape }}"的搜索结果:</h2>
		{% if results %}
			<ul>
				{% for book in results %}
					<li>{{ book|escape }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>没有找到符合您搜索要求的书籍</p>
		{% endif %}
	{% endif %}
</body>
</html>