{% extends "coltrane/base.html" %}

{% block title %}
分类为{{ slug }}的条目
{% endblock %}

{% block content %}
<h1>分类为{{ slug }}的条目</h1>
    {% for entry in object_list %}
        <h2>{{ entry.title }}</h2>
        <p>
            发布于{{ entry.pub_date|date:"Y年Fj日" }}
        </p>
        {% if entry.excerpt_html %}
            <div class="excerpt_html">
                {{ entry.excerpt_html|safe }}
            </div>
        {% endif %}
        <p><a href="{{ entry.get_absolute_url }}">阅读全文</a></p>
    {% endfor %}
{% endblock %}
