{% extends "pages/page.html" %}


{% load i18n %}

{% block meta_title %}{% trans "员工" %}{% endblock %}
{% block title %}{% trans "员工" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "员工" %}</li>
{% endblock %}

{% block main %}

<form enctype="multipart/form-data" method="POST" action="/yuangong/upload/">{% csrf_token %}
	上传数据文件： <input type="file" name="file"/><br/>
<input type="submit" value="上传文件"/>
</form>

<table border = "1">
	<tr>
		<td>姓名</td>
		<td>性别</td>
		<td>出生年月</td>
		<td>身份证号</td>
		<td>政治面貌</td>
		<td>入党团时间</td>
		<td>籍贯</td>
		<td>住址</td>
		<td>联系电话</td>
		<td>参工时间</td>
		<td>保险号</td>
		<td>人事卡号</td>
		<td>文化程度</td>
		<td>单位</td>
	</tr>
	{% for yuangong in yuangongs %}
	<tr>
		<td>{{ yuangong.xingming }}</td>
		<td>{{ yuangong.xingbie }}</td>
		<td>{{ yuangong.chushengnianyue|date:"Y-m-d" }}</td>
		<td>{{ yuangong.shenfenzhenghao }}</td>
		<td>{{ yuangong.zhengzhimianmao }}</td>
		<td>{{ yuangong.rudangtuanshijian|date:"Y-m-d" }}</td>
		<td>{{ yuangong.jiguan }}</td>
		<td>{{ yuangong.zhuzhi }}</td>
		<td>{{ yuangong.lianxidianhua }}</td>
		<td>{{ yuangong.cangongshijian|date:"Y-m-d" }}</td>
		<td>{{ yuangong.baoxianhao }}</td>
		<td>{{ yuangong.renshikahao }}</td>
		<td>{{ yuangong.wenhuachengdu }}</td>
		<td>{{ yuangong.danwei }}</td>
	</tr>
{% endfor %}
</table>
<p><a href="/yuangong/output/">导出为csv格式文件</a></p>

<div class="pagination">
    <span class="step-links">
        {% if yuangongs.has_previous %}
            <a href="?page={{ yuangongs.previous_page_number }}">上一页</a>
        {% endif %}

        {% if yuangongs.has_next %}
            <a href="?page={{ yuangongs.next_page_number }}">下一页</a>
        {% endif %}
        <span class="current">
            第 {{ yuangongs.number }} 页,共 {{ yuangongs.paginator.num_pages }} 页.
        </span>
    </span>
</div>
	
	
{% endblock %}