<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            我的站点 {% block title %}{% endblock %}
        </title>
        {% block basecss %}{% endblock %}
        {% block css %}{% endblock %}
        {% block basejs %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div id="header" >
            {% block header %}
            {% endblock %}
        </div>
        <div id="sidebar" >
            {% block sidebar %}
            {% endblock %}
        </div>
        <div id="content" >
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
