{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}首页{% endblock %}
{% block title %}首页{% endblock %}

{% block banner %}
<STYLE TYPE="text/css">
	/* 首页横幅 */
	.banner {
	background: url({{ STATIC_URL }}images/header-bg-down.png) no-repeat 50% 0;
	font-size: 0.75em;
    height: 317px;
    margin: 0 auto;
    position: relative;
	}
	<!--

	-->
</STYLE>
<div class="banner">
	<!-- .slogan -->
	<div class="slogan"><img src="{{ STATIC_URL }}images/slogan.png" alt="" />
	</div>
	<!-- /.slogan -->

	<!-- .extra-nav -->
	<ul class="extra-nav">
		<li>
			<a href="index.html"><img src="{{ STATIC_URL }}images/icon1.gif" alt="" /></a>
		</li>
		<li>
			<a href="#"><img src="{{ STATIC_URL }}images/icon2.gif" alt="" /></a>
		</li>
		<li class="last">
			<a href="index-4.html"><img src="{{ STATIC_URL }}images/icon3.gif" alt="" /></a>
		</li>
	</ul>
	<!-- /.extra-nav -->

	<form action="" id="search-form">
		<fieldset>
			Search:
			<input type="text" class="text" />
			<input type="submit" value="Go" class="submit" />
		</fieldset>
	</form>
</div>

{% trans "This is the homepage." %}
{% endblock %}
