<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>MySite | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
	{% block head %}{% endblock %}
</head>

<body>
    <div id="nav">
        <a href="/">home</a> |
    {% if user.is_authenticated %}
        welcome {{ user.username }} (<a href="/accounts/logout/">logout</a>)
    {% else %}
        <a href="/accounts/login/">login</a> |
        <a href="/accounts/register/">register</a>
    {% endif %}
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>