<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>MyBBS--简易树型论坛系统</title>
<META Name="keywords" Content="论坛,社区,BBS">
<META Name="description" Content="论坛社区">
<link href="template/board.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="header">
    <div id="headTitle">
        <strong><?=$FUNC['header_link'];?></strong>
    </div>
</div>

<div id="container">
    
    <div id="left_col">
    <?=$board_list;?>
    </div>

</div>

<br clear="all"/>
<center>
<div id="footer">
    <?=$FUNC['footer_link'];?>
</div>
</center>
</body>
</html>
