<html>
<head><title>提示信息</title></head>
<body>

<center>

<div style="border:1px solid #000;background:#F5F5F5;width:500px;font:13px;height:180px;line-height:100px;">

<div style="padding:0 0 6px 0;border-bottom:1px solid #000;background:#A2A2A2;width:500px;text-align:left;height:28px;line-height:28px;padding:0 0 0 8px;color:#20EBF0"><b>提示信息</b></div>
_POP_INFO_
<br/>
<input type="button" onclick="javascript:window.history.go(-1);" value="返回" /><br/>
</div>

<center>

</body>
<html>