<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
 <HEAD>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  <TITLE>Entries index</TITLE>
 </HEAD>
 <BODY>
   <H1>Entries index</H1>
   {% for entry in entry_list %}
     <H2>{{ entry.title }}</H2>
     <P>Published on {{ entry.pub_date|date:"F j, Y" }}</P>
     {% if entry.excerpt_html %}
       {{ entry.excerpt_html|safe }}
     {% else %}
       {{ entry.body_html|truncatewords_html:"50"|safe }}
     {% endif %}
     <P><A HREF="{{ entry.get_absolute_url }}">Read full entry</A></P>
   {% endfor %}
 </BODY>
</HTML>
