<!DOCTYPE html>
<html>
    <head>
        <title>Entries</title>
        <%= stylesheet_link_tag    "entries", :media => "all" %>
        <%= javascript_include_tag "entries" %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <%= yield %>

    </body>
</html>