<script type="text/javascript">
	function getArgs(qs){
		var s = location.href;   
		s = s.replace("?","?&").split("&");
		var re = "";
		for(i=1;i<s.length;i++){
			if(s[i].indexOf(qs+"=")==0)  re = s[i].replace(qs+"=","");
		}
		return re;
	}
	var pid=getArgs("pid");
	if(pid==""){ pid="17"; }
	var mid=getArgs("mid");
	if(mid==""){ mid="1234"; }
	var channel=getArgs("channel");
	if(channel==""){channel="1"}
	var extra=getArgs("extra");
	if(extra==""){extra="-1";}
	var stn = getArgs("stn");
	if(stn==""){stn="-1"}
	function WaueeReplaceStr(){
		var str=document.body.innerHTML;
		str=str.replace(/\$\{pid\}/g,pid);
		str=str.replace(/\$\%7Bpid\%7D/g,pid);
		str=str.replace(/\$\{mid\}/g,mid);
		str=str.replace(/\$\%7Bmid\%7D/g,mid);
		str=str.replace(/\$\{channel\}/g,channel);
		str=str.replace(/\$\%7Bchannel\%7D/g,channel);
		str=str.replace(/\$\{extra\}/g,extra);
		str=str.replace(/\$\%7Bextra\%7D/g,extra);
		str=str.replace(/\$\{stn\}/g,stn);
		str=str.replace(/\$\%7Bstn\%7D/g,stn);
		document.body.innerHTML=str;
	}
	var blackworkds = ['贱','骚','猪','操','逼','淫','煞笔','畜牲','你妹','你妈','你爷','你爸', '老爷','变态','狗日','狂草','草你', '王八', '去死','垃圾','杂种',];
	function isCHName(astr){
		var lst =  /^[\u4E00-\u9FA5]{2,4}$/;
		return lst.test(astr);
	}
	function isPhone(phone){
		var pr = /^1[3|5|8]([0-9]{1})([0-9]{8})$/;
		return pr.test(phone);
	}

	function isQQ(qq){
		var pr= /^[0-9]{5,10}$/;
		return pr.test(qq);
	} 

	function toSM(url,spid){
		var pid=getArgs("pid");
		if(pid==""){ pid="17"; }
		var mid=getArgs("mid");
		if(mid==""){ mid="1234"; };
		var channel=getArgs("channel");
		if(channel==""){channel="1"}
		var extra=getArgs("extra");
		if(extra==""){extra="-1";}
		var phone = getArgs("phone");
		if(phone==""){phone="-1"; }
		location.href=url+'.html?pid='+pid+'&stn='+spid+'&mid='+mid+'&channel='+channel+'&extra='+extra;
   }
</script>

<h1>首页</h1>