* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
html {
	min-width: 954px;
}
body {
	background: #2a64a7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.125em;
	color: #5a5a5a;
}

img {
	border: 0;
	vertical-align: top;
	text-align: left;
}
.v {
	position: relative;
	float: left;
}
.vlinks {
	position: relative;
	float: right;
	padding-right: 40px;
}
object {
	vertical-align: top;
	outline: none;
}
ul, ol {
	list-style: none;
}

.fleft {
	float: left;
}
.fright {
	float: right;
}
.clear {
	clear: both;
}

.col-1, .col-2, .col-3 {
	float: left;
}

.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

/*==== GLOBAL =====*/
.container {
	width: 954px;
	margin: 0 auto;
	font-size: .75em;
	position: relative;
}

/*
 #header {
 height: 468px;
 overflow: hidden;
 background: url(../images/header-tail.gif) 0 0 repeat-x;
 }
 */
#header {
	background: url("../images/header-bg-down.jpg") no-repeat scroll 50% 0 transparent;
	height: 150px;
	overflow: hidden;
}
.aside {
	background: #0e2945;
	width: 100%;
	color: #548ac2;
}

/*----- forms parameters -----*/

input, select, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	vertical-align: middle;
	font-weight: normal;
}

/*----- other -----*/
.img-indent {
	margin: 0 20px 0 0;
	float: left;
}
.img-box {
	width: 100%;
	overflow: hidden;
	padding-bottom: 27px;
}
.img-box img {
	float: left;
	margin: 0 20px 0 0;
}

.extra-wrap {
	overflow: hidden;
}

p {
	margin-bottom: 18px;
}
.p1 {
	margin-bottom: 9px;
}
.p2 {
	margin-bottom: 18px;
}
.p3 {
	margin-bottom: 27px;
}

/*----- txt, links, lines, titles -----*/
a {
	color: #e85a00;
	outline: none;
}
a:hover {
	text-decoration: none;
}

h2 {
	font-size: 21px;
	line-height: 1.2em;
	color: #353535;
	font-weight: normal;
	margin-bottom: 22px;
}
h3 {
	font-size: 20px;
	line-height: 1.2em;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	font-style: italic;
	background: url(../images/line-dot.gif) 0 100% repeat-x;
	padding: 0 0 5px 53px;
	margin-bottom: 18px;
	text-shadow: 1px 1px 0 #06162b;
}
h4 {
	font-size: 14px;
	color: #e85a00;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 25px;
}
h5 {
	font-size: 14px;
	color: #e85a00;
	font-weight: normal;
	font-style: italic;
}

.link1 {
	background: url(../images/bull-1.gif) no-repeat 0 6px;
	padding: 0 0 0 7px;
	font-weight: bold;
}

.line-ver, .line-ver1 {
	background-image: url(../images/line-ver.gif);
	background-repeat: repeat-y;
	width: 100%;
}

/*==================boxes====================*/
.block {
	background: url(../images/splash.gif) no-repeat 50% 50%;
}
.block .inner {
	padding: 40px 30px 30px 0;
}
.block .inner.last {
	padding-right: 0;
}
.block .inner.bg1 {
	background: url(../images/title-icon1.png) no-repeat 0 0;
}
.block .inner.bg2 {
	background: url(../images/title-icon2.png) no-repeat 0 0;
}
.block .inner.bg3 {
	background: url(../images/title-icon3.png) no-repeat 0 0;
}

.box {
	background: #fff;
	width: 100%;
}
.box .left-bot-corner {
	background: url(../images/left-bot-corner.gif) no-repeat left bottom;
	width: 100%;
}
.box .right-bot-corner {
	background: url(../images/right-bot-corner.gif) no-repeat right bottom;
}
.box .inside {
	padding: 21px 20px 48px 20px;
}

.box1 {
	background: #f7f7f7;
	border: 1px solid #c6c9cc;
	padding: 25px 18px 34px 23px;
	-moz-box-shadow: 0px 2px 4px #e3e3e3; /* FF3.5+ */
	-webkit-box-shadow: 0px 2px 4px #e3e3e3; /* Saf3.0+, Chrome */
	box-shadow: 0px 2px 4px #e3e3e3; /* Opera 10.5, IE 9.0 */
}
.box1.bg1 {
	background: #ececec;
	padding-bottom: 19px;
}
.box1 h2.alt {
	background: #fff;
	padding: 6px 22px 6px 22px;
	margin: -22px -15px 17px -20px;
}

.address {
	float: left;
	margin-right: 30px;
}
.address.last {
	margin-right: 0;
}
.address dt {
	margin-bottom: 8px;
}
.address dt:first-line {
	font-size: 14px;
	color: #e85a00;
	font-style: italic;
}
.address dd {
	clear: both;
}
.address dd span {
	float: left;
	width: 70px;
}

/*===== header =====*/
/*
 #header .header-bg {
 height: 468px;
 background: url(../images/header-bg.png) no-repeat 50% 0;
 }
 * */

.logo {
	position: absolute;
	left: 0;
	top: 16px;
}
.rss {
	display: block;
	background: url(../images/rss.jpg) no-repeat 100% 0;
	color: #000;
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 39px;
	padding: 9px 43px 0 0;
}

.slogan {
	position: absolute;
	left: 7px;
	top: 225px;
}

.extra-nav {
	position: absolute;
	left: 0;
	top: 444px;
	margin-left: -6px;
}
.extra-nav li {
	display: inline;
	background: url(../images/divider.gif) no-repeat 100% 0;
	padding: 0 8px 0 6px;
}
.extra-nav li.last {
	background: none;
}

/*===== aside =====*/
.aside .line-ver {
	background-position: 300px 50%;
}
.aside .line-ver1 {
	background-position: 644px 50%;
}
.aside .col-1 {
	width: 300px;
	margin-right: 2px;
}
.aside .col-2 {
	width: 300px;
	padding-left: 40px;
	margin-right: 2px;
}
.aside .col-3 {
	width: 267px;
	padding-left: 40px;
}
.aside a {
	color: #fff;
	font-weight: bold;
}

/*===== content =====*/
#content .outdent {
	padding-bottom: 36px;
}
#content .indent {
	padding: 0 0 0 25px;
}
#content .indent1 {
	padding: 20px 25px 0 25px;
}
.list1 li {
	font-size: 10px;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.list1 li a {
	color: #000;
	padding: 0 0 0 4px;
}
.list1 li a.link1 {
	font-size: 12px;
	color: #e85a00;
	text-transform: none;
	padding-left: 8px;
}

.news {
	padding: 0 0 6px 0;
}
.news li {
	overflow: hidden;
	position: relative;
	padding: 0 0 20px 74px;
}
.news li p.date {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 57px;
	height: 56px;
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 30px;
	line-height: 1.4em;
	text-shadow: 1px 1px 0 #0f53e8;
	background: url(../images/date.gif) no-repeat 0 0;
}
.news li p.date span {
	display: block;
	font-size: 12px;
	margin-top: -22px;
}

/*===== footer =====*/
#footer {
	color: #fff;
	padding: 13px 0 24px 44px;
}
#footer a {
	color: #62a9fb;
	text-decoration: none;
}
#footer a:hover {
	color: #fff;
	text-decoration: underline;
}
#footer .nav {
	margin: 0 0 0 -6px;
}
#footer .nav li {
	display: inline;
	color: #62a9fb;
}
#footer .nav li a {
	color: #62a9fb;
	text-decoration: none;
	padding: 0 9px 0 6px;
}
#footer .nav li a:hover, #footer .nav li a.active {
	color: #fff;
	text-decoration: underline;
}

/*----- forms -----*/
#search-form {
	position: absolute;
	right: 0;
	top: 439px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 0 #052eb2;
}
#search-form fieldset {
	border: none;
	display: inline;
}
#search-form input.text {
	width: 150px;
	padding: 0 0 1px 5px;
	border: 1px solid #d2d1cc;
	border-top: 1px solid #404040;
	border-left: 1px solid #737373;
}
#search-form input.submit {
	background: url(../images/submit.gif) no-repeat 0 0;
	width: 41px;
	height: 21px;
	border: none;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 0 #cd2400;
	cursor: pointer;
}

#newsletter-form fieldset {
	border: none;
}
#newsletter-form input.text {
	width: 195px;
	border: 1px solid #d2d1cc;
	background: #fff;
	padding: 2px 0 2px 5px;
	color: #5a5a5a;
	border-top: 1px solid #404040;
	border-left: 1px solid #737373;
}
#newsletter-form input.submit {
	background: url(../images/submit-alt.gif) no-repeat 0 0;
	width: 41px;
	height: 21px;
	border: none;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 0 #cd2400;
	cursor: pointer;
}

#contacts-form fieldset {
	border: none;
	width: 235px;
}
#contacts-form label {
	display: block;
	height: 32px;
	overflow: hidden;
}
#contacts-form input {
	background: #fff;
	width: 230px;
	padding: 2px 5px 2px 6px;
	border: none;
	border: 1px solid #e1e1e1;
	color: #7e7e7e;
	border-color: #303030 #cecece #e1e1e1 #585858;
}
#contacts-form textarea {
	width: 230px;
	padding: 2px 5px 2px 6px;
	height: 104px;
	background: #fff;
	overflow: auto;
	border: 1px solid #e1e1e1;
	border-color: #303030 #cecece #e1e1e1 #585858;
	color: #7e7e7e;
	margin-bottom: 17px;
}
.inner_copy a {
	border: 0;
	float: right;
	background: #f00;
	color: #f00;
	width: 35%;
	line-height: 10px;
	font-size: 10px;
	margin: -50% 0 0 0;
	overflow: hidden;
	padding: 0
}

/*==========================================*/

#header .nav {
	position: absolute;
	left: 0;
	top: 112px;
}
#header .nav li {
	float: left;
	padding-right: 1px;
	z-index:1;
	transition: all 0.5s ease 0s;
}
#header .nav > li > a {
	background: url("../images/nav-bg1-up.png") no-repeat scroll 0 0 transparent;
	border-radius: 5px 5px 0 0;
	color: #353535;
	float: left;
	font-size: 13px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #FFFFFF;
	width: 115px;
	z-index:2;
}

/* 当前页面 */
#header .nav > li > a.active {
	background: url("../images/nav-bg2-up.png") no-repeat scroll 0 0 transparent;
}
/* 移动上去变蓝色 */

#header .nav > li > a:hover {
	background: url(../images/nav-bg2.gif) repeat 0 0;
	color: #fff;
	text-shadow: 1px 1px 0 #185cb6;
	text-decoration: none;
}
/* 移动上去出现下拉菜单 */
#header .nav li:hover ul {
	display: block;
	z-index: 10000;
}

.divider-vertical {
	height: 36px;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
	*width: 100%;
	*margin: -5px 0 5px;
}

/* 下拉 */
.dropdown {
	position: relative;
}
/* 小三角 */
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	content: "";
}
.dropdown .caret {
	margin-top: 8px;
	margin-left: 2px;
}
.dropdown:hover .caret, .open.dropdown .caret {
	opacity: 1;
	filter: alpha(opacity=100);
}
/* 下拉菜单，默认不显示 */
.dropdown-menu {
	background-clip: padding-box;
	border-color: rgba(0, 0, 0, 0.2);
	border-radius: 0 0 5px 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: -1px;
	position: absolute;
	top: 100%;
	width: 115px;
	z-index: 1000;
}
.dropdown-menu li {
	top: 100%;
	width: 115px;
	height: 36px;
}

.dropdown-menu a {
	float: left;
	color: #353535;
	font-size: 13px;
	background: url(../images/nav-bg1_1_36.png) repeat 0 0;
	width: 115px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	background: url(../images/nav-bg2_1_36.png) repeat 0 0;
	text-decoration: none;
	background-color: #0088cc;
}
.dropdown.open {
	*z-index: 1000;
}
.dropdown.open .dropdown-toggle {
	color: #ffffff;
	background: #ccc;
	background: rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu {
	display: block;
}

