<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
 <HEAD>
  <TITLE>{{ flatpage.title }}</TITLE>
 </HEAD>
 <BODY>
   <!-- 简单页面只有两个变量：title与content -->
   <H1>{{ flatpage.title }}</H1>
   {{ flatpage.content }}
   <FORM ACTION="/search/" METHOD="get">
     <P>
       <LABEL FOR="id_q">Search:</LABEL>
       <INPUT TYPE="TEXT" NAME="q" ID="id_q" VALUE="" SIZE="20">
       <INPUT TYPE="SUBMIT" VALUE="Submit">
     </P>
   </FORM>
 </BODY>
</HTML>
