{% extends "base.html" %}

{% block title %}
    {{ block.super }}条目:
{% endblock %}

{% block header %}
    <h1 id="branding">我的博客</h1>
{% endblock %}

{% block sidebar %}
    <h2>导航</h2>
    <ul id="main-nav">
        <li id="main-nav-entries">
            <a href="{% url coltrane_entry_archive_index %}">条目</a>
        </li>
        <li id="main-nav-links">
            <a href="{% url coltrane_link_archive_index %}">链接</a>
        </li>
        <li id="main-nav-categories">
            <a href="/weblog/categories/">分类</a>
            {% comment %}
                <a href="{% url coltrane_category_list %}">分类</a>
            {% endcomment %}
        </li>
        <li id="main-nav-tags">
            <a href="/weblog/tags/">标签</a>
            {% comment %}
                <a href="{% url coltrane_tag_list %}">标签</a>
            {% endcomment %}
        </li>
    </ul>

    <h2>这是什么？</h2>
    {% block whatis %}
    {% endblock %}

{% endblock %}

{% block basecss %}
    <style type="text/css">
        body {
            background: #D4D2D3;
    	}
	.body_html, .excerpt_html {
	    width: 80%;
	}
    </style>
{% endblock %}

{% block css %}
{% endblock %}

{% block basejs %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block js %}
{% endblock %}
