{% extends "coltrane/base_entries.html" %}

{% block title %}
    {{ block.super }}
    发表于{{ day|date:"Y年Fj日" }}的条目
{% endblock %}

{% block content %}
    <h1>
    发表于{{ day|date:"Y年Fj日" }}的条目
    </h1>
    {% for entry in object_list %}
        <h2>{{ entry.title }}</h2>
        <p>
            发表于{{ day|date:"Y年Fj日" }}
        </p>
        {% if entry.excerpt_html %}
            <!-- 如果有摘录就显示摘录 -->
	    <div class="excerpt_html">
                {{ entry.excerpt_html|safe }}
            </div>
        {% else %}
            <!-- 没有摘录就显示正文的一部分 -->
	    <div class="body_html">
                {{ entry.body_html|truncatewords_html:"50"|safe }}
            </div>
        {% endif %}
        <p><a href="{{ entry.get_absolute_url }}">阅读全文</a></p>
    {% endfor %}
{% endblock %}
