.header {
  text-align: center;
}

.footer {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

.error {
  font-weight :bold;
  color: #FF0000;
}

.login {
  font-style: italic;
}

form label {
  display: inline-block;
  text-align: left;
  width: 100px;
  font-weight: bold;
}
