{% extends "coltrane/base_links.html" %}

{% block title %}    {{ block.super }}

发布于{{ day|date:"Y年Fj日" }}的链接
{% endblock %}

{% block content %}
    <h1>发布于{{ day|date:"Y年Fj日" }}的链接</h1>
    {% for link in object_list %}
        <h2>{{ link.title }}</h2>
        <p>
            发布于{{ day|date:"Y年Fj日" }}
        </p>
        {% if link.description_html %}
            <!-- 如果有描述就显示描述 -->
            <div class="description_html">
                {{ link.description_html|safe }}
            </div>
        {% endif %}
        <p>
            <a href="{{ link.get_absolute_url }}">阅读全文</a>
        </p>
    {% endfor %}
{% endblock %}
