<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
 <HEAD>
  <TITLE>See You Later!</TITLE>
 </HEAD>
 <BODY>
     <H1>Goodbye!</H1>
     <P>
        It was nice having you here.
     </P>
     <P>
        Say <A HREF="/say/hello">Hello</A>!
     </P>
     <P>
     Say <%= link_to "Hello", :action=>"hello" %> again.
     </P>
 </BODY>
</HTML>
