<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title>My weblog {% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 </head>
 <body class="{% block bodyclass %}{% endblock %}">
   <div id="header">
     <h1 id="branding">My weblog</h1>
   </div>

   <div id="content">
     {% block content %}
     {% endblock %}
   </div>

   <div id="sidebar">
     <h2>Navigation</h2>
     <ul id="main-nav">
       <li id="main-nav-entries">
         <a href="{% url coltrane_entry_archive_index %}">Entries</a>
         {% comment %}
           <a href="/weblog/">Entries</a>
         {% endcomment %}
       </li>

       <li id="main-nav-links">
         <a href="{% url coltrane_link_archive_index %}">Links</a>
         {% comment %}
         <a href="/weblog/links/">Links</a>
         {% endcomment %}
       </li>

       <li id="main-nav-categories">
         <a href="/weblog/categories/">Categories</a>
         {% comment %}
         <a href="{% url coltrane_category_list %}">Categories</a>
         {% endcomment %}
       </li>

       <li id="main-nav-tags">
         <a href="/weblog/tags/">Tags</a>
         {% comment %}
         <a href="{% url coltrane_tag_list %}">Tags</a>
         {% endcomment %}
       </li>
     </ul>

     <h2>What is this?</h2>
     {% block whatis %}
     {% endblock %}

     {% comment %}
       {% load coltrane_tags %}标签告诉django你想加载一个名为coltrane_tags的自定义标签库。当django看到这个，它就在所有安装的应用中寻找coltrane_tags.py存在的templatetags目录。
     {% endcomment %}
     {% load coltrane_tags %}
     <h2>Latest entries in the weblog</h2>
     <ul>
       {% get_latest_entries %}
       {% for entry in latest_entries %}
         <li>
           <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>,posted {{ entry.pub_date|timesince }} ago.
         </li>
       {% endfor %}
     </ul>

   </div>
 </body>
</html>
