{% extends "coltrane/base_links.html" %}

{% block title %}
  {{ block.super }}
  | {{ object.title }}
{% endblock %}

{% block content %}
  <h1>{{ object.title }}</h1>
  {{ object.description_html|safe }}
  <p><a href="{{ object.url }}">Visit site</a></p>
{% endblock %}

{% block whatis %}
  <p>This is a link posted to my blog on {{ object.pub_date|date:"Y年Fj日" }}.</p>
  {% if object.tags %}
    <p>This link is tagged with
      {% for tag in object.tags.split %}
      <a href="/weblog/tags/links/{{ tag }}/">{{ tag.title }}</a>
        {% if forloop.last %}
        {% else %}
          {% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
        {% endif %}
      {% endfor %}
      .
    </p>
  {% else %}
    <p>This link does't have any tags.</p>
  {% endif %}
{% endblock %}

