<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
 <HEAD>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  <TITLE>{{ flatpage.title }}</TITLE>
 </HEAD>
 <BODY>
   <H1>{{ flatpage.title }}</H1>
   {{ flatpage.content }}
   <form method="get" action="/search/">
     <p><label for="id_q">Search:</label>
       <input type="text" name="q" id="id_q" />
       <input type="submit" value="Submit" /></p>
   </form>
 </BODY>
</HTML>
