{% extends "cab/base_cab.html" %}

{% block title %}
  Snippets
{% endblock %}

{% block content %}

  {% if object_list %}
    {% for snippet in object_list %}
      <h2>{{ snippet.title }}</h2>
      <p>
        <b>Author:</b>
        {{ snippet.author }}<br/>

        <b>Published on</b>
        {{ snippet.pub_date|date:"Y年Fj日" }}<br>

        <b>Updated on</b>
        {{ snippet.updated_date|date:"Y年Fj日" }}<br/>

        <b>Description:</b>
        {{ snippet.description_html|safe }}<br/>

        <a href="{{ snippet.get_absolute_url }}">Read full snippet</a>
      </p>
    {% endfor %}
  {% endif %}

  <p>
    {% if has_previous %}
      <a href="?page={{ previous }}">第{{ previous }}页</a>
    {% endif %}
    第{{ page }}页
    {% if has_next %}
      <a href="?page={{ next }}">第{{ next }}页</a>
    {% endif %}
  </p>

{% endblock %}
